@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i|Open+Sans:400,600,700|Ubuntu+Mono:400,700|Architects+Daughter');
/*@import url('https://fonts.googleapis.com/css?family=Roboto:400,700|Open+Sans:400,600,700,800|Roboto+Mono:400,700|Architects+Daughter');*/


body, table, div, p, dl {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: medium;
}

a {
    font-weight: bold;
}

p {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: medium;
}

code {
    font-family: 'Ubuntu Mono', code;
    font-weight: 400;
    font-size: medium;
}

h1 {
	padding: 15px 15px 10px 10px;
    color: #3D578C;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: x-large;
}

h2 {
	padding: 5px 15px 5px 10px;
    color: #3D578C;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: large;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: medium;
}

.title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: x-large;
	margin: 10px 2px;
}

#projectname {
    font-family: 'Architects Daughter', sans-serif;
    color: #fff;
    font-size: 350%;
	margin: -4px 0px;
	padding: 2px 20px;
}

#projectnumber {
    font-family: 'Lato', sans-serif;
    font-size: 200%
	margin: 0px;
	padding: 0px;
}

#projectbrief {
    font-family: 'Lato', sans-serif;
	margin: 2px 2px;
	padding: 0px;
    color: #9ddcff;
}

.sm-dox a, .sm-dox a:focus, .sm-dox a:hover, .sm-dox a:active {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: medium;
    padding-right: 24px;
}

div.line {
    font-family: 'Ubuntu Mono', code;
    font-size: 100%;
}

span.lineno {
    font-family: 'Ubuntu Mono', code;
}

/*div.toc {*/
/*right: 0;*/
/*position: fixed;*/
/*}*/

div.toc h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
}
div.toc li {
    font-family: 'Open Sans', sans-serif;
    font-size: smaller;
}

div.summary {
    font-size: 75%;
}

div.title {
    margin: 4px 2px;
}

div.fragment {
    font-family: 'Ubuntu Mono', code;
    font-weight: 400;
    font-size: 100%;
}

.memtitle {
    font-family: 'Ubuntu Mono', code;
    font-weight: 700;
}

.memItemRight {
    font-family: 'Ubuntu Mono', code;
    font-weight: 400;
}

.params .paramdir {
    font-family: 'Ubuntu Mono', code;
    font-weight: 400;
}

.params .paramname {
    font-family: 'Ubuntu Mono', code;
    font-weight: 700;
}

.paramname em {
    font-family: 'Ubuntu Mono', code;
    font-weight: 400;
}

.directory td.entry a {
    font-family: 'Ubuntu Mono', code;
    font-weight: 700;
    font-size: medium;
}

.caption {
    margin-top: 10px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

address {
    font-family: 'Ubuntu Mono', code;
	color: #000000;
}

#titlearea {
  background-color: #3D578C;
}
/*background: #2e7bcf url(../../images/header-bg.jpg) 0 0 repeat-x;*/
/*background: linear-gradient(#3D578C,#5DBCD2);*/
